.colWidth12-12 {

    width:100%;

}
.colWidth11-12 {

    width:91.7%;

}
.colWidth10-12 {

    width:83.3%;

}
.colWidth9-12 {

    width:75%;

}
.colWidth8-12 {

    width:66.7%;

}
.colWidth7-12 {

    width:58.3%;

}
.colWidth6-12 {

    width:50%;

}
.colWidth5-12 {

    width:41.5%;

}
.colWidth4-12 {

    width:33.3%;

}
.colWidth3-12 {

    width:25%;

}
.colWidth2-12 {

    width:16.7%;

}
.colWidth1-12 {

    width:8.3%;

}
.hi50 {

    height:50px;

}
.hi300 {

    height:300px;

}
.hi500 {

    height:500px;

}
#navbar {

     background-color:rgba(0,0,0,.7);

}
a  {

   color:white;

    text-decoration:none;

}
.flexCentered {
display: flex ;
flex-direction: row ;
flex-wrap: wrap ;
justify-content: space-around ;
align-items: center ;
align-content: center ;
}
.leftCol{
    float:left;
}
.rightCol{

    float:right;
}
img {
     width:200px;
    height:200px;
}
.foto-personajes {
    width:100%;
    height:100%;
}
.newspaper{
    column-count:1;
    padding:10px;
    width:100%;
    text-align: justify
    
}
p {
    font-family:'Ánton', sans-serif;
    font-size: 25px;
    margin-left:5px;
    margin-right:5px;      
}
c {
    font-family:'Ánton', sans-serif;
    font-size: 20px;
    margin-left:5px;
    margin-right:5px;      
}